@font-face {
    font-family: 'Circe-Thin'; 
    src: url('../fonts/Circe-Thin.woff');
}

@font-face {
    font-family: 'Circe-Light'; 
    src: url('../fonts/Circe-Light.woff');
}

@font-face {
    font-family: 'Circe-Regular'; 
    src: url('../fonts/Circe-Regular.woff');
}

@font-face {
    font-family: 'Circe-Bold'; 
    src: url('../fonts/Circe-Bold.woff');
}

@font-face {
    font-family: 'Circe-ExtraBold'; 
    src: url('../fonts/Circe-ExtraBold.woff');
}